<h1>{{ name }}</h1>

<dl>
  <td>Name:</td>
  <dd>{{ name }}</dd>

  <td>Age:</td>
  <dd>{{ age }}</dd>

  <td>Method:</td>
  <dd>{{ getHeroDescription() }}</dd>

  <td>Capitalize:</td>
  <dd>{{ capitalizeName }}</dd>
</dl>

<button
  *ngIf="name !== 'Spiderman'"
  class="btn btn-primary mx-2"
  (click)="changeHero()"
>
  Change Name
</button>

<button *ngIf="age !== 25" (click)="changeAge()" class="btn btn-primary mx-2">
  Change Age
</button>

<button
  (click)="resetForm()"
  class="btn btn-primary mx-2"
>
  Reset Form
</button>
